{% block component_payment_method_description %}
    <div class="payment-method-description">
        <strong>{{ payment.translated.name }}</strong>
        {% if payment.translated.description %}
            {% set paymentDescription = payment.translated.description|raw %}
            {% set paymentDescriptionTitle = payment.translated.description|striptags|raw %}

            {% if not payment.id is same as(selectedPaymentMethodId) %}
                {% set paymentDescription = (paymentDescription|length > 75 ? paymentDescription[:75] ~ ' ...' : paymentDescription) %}
            {% endif %}

            {% block component_payment_method_description_text %}
                <p title="{{ paymentDescriptionTitle }}">{{ paymentDescription }}</p>
            {% endblock %}
        {% endif %}
        <p>additional text here</p>
    </div>
{% endblock %}